<h1>Questionnaire</h1>
<form action="/answer" data-turbo="false" method="get" class="form-control">
  <input type="text" name="question" value=" <% params[:question] %> " placeholder="ask a question">
  <input type="submit" value="Ask!" class="btn btn-primary">

</form>
